<div class="row" *ngIf="profesor">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-n">{{profesor.usuario.nombre}} {{profesor.usuario.apellido_paterno}} {{profesor.usuario.apellido_materno}}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-l">Jefaturas</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title fw-l">Agregar Jefatura</h5>
              </div>
              <div class="card-body">
                <div class="form form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-9">
                      <div class="">
                        <div class="input-group">
                          <input id="form-control-3" class="form-control" type="text" *ngIf="selectedJefatura" [(ngModel)]="selectedJefaturaName" readonly>
                          <div class="input-group-btn">
                            <button class="btn btn-outline-danger"
                                    (click)="unselectCurso()"
                                    [disabled]="!(selectedJefatura)"
                                    *ngIf="selectedJefatura">
                              <span class="icon icon-close icon-fw"></span></button>
                            <button class="btn btn-primary" (click)="cursosModalOpen()"><span class="icon icon-pencil-square-o icon-fw"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                      <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-primary btn-sm"
                                (click)="addJefatura()"
                                [disabled]="checkCursoInJefaturas()"><span class="icon btn-icon icon-plus"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7" *ngIf="jefaturas.length>0">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title fw-l">
                  Cursos
                </h5>
              </div>
              <div class="card-header" *ngFor="let curso of jefaturas">
                <div class="form form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-3">
                      <input class="form-control" type="text" [(ngModel)]="curso.grado" readonly>
                    </div>
                    <div class="col-sm-3">
                      <input class="form-control" type="text" [(ngModel)]="curso.curso" readonly>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                      <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-danger btn-sm" (click)="deleteJefatura(curso.id)"><span class="icon btn-icon icon-minus"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-l">Asignaturas</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title fw-l">Agregar Asignatura</h5>
              </div>
              <div class="card-body">
                <div class="form form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-9">
                      <div class="">
                        <div class="input-group">
                          <input id="form-control-4" class="form-control" type="text" *ngIf="selectedAsignatura" [(ngModel)]="selectedAsignatura.nombre" readonly>
                          <div class="input-group-btn">
                            <button class="btn btn-outline-danger"
                                    (click)="unselectAsignatura()"
                                    [disabled]="!(selectedAsignatura)"
                                    *ngIf="selectedAsignatura">
                              <span class="icon icon-close icon-fw"></span></button>
                            <button class="btn btn-primary" (click)="asignaturasModalOpen()" [disabled]="!(this.planesDeEstudio.length>0)"><span class="icon icon-pencil-square-o icon-fw"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                      <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-primary btn-sm"
                                (click)="addAsignatura()"><span class="icon btn-icon icon-plus"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7" *ngIf="asignaturasDictadas.length>0">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title fw-l">
                  Dictadas
                </h5>
              </div>
              <div class="card-header" *ngFor="let asignatura of asignaturasDictadas">
                <div class="form form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-6">
                      <input class="form-control" type="text" [(ngModel)]="asignatura.nombre" readonly>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                      <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-danger btn-sm"
                                (click)="deleteAsignatura(asignatura.id)"><span class="icon btn-icon icon-minus"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-5">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
        <div class="col-sm-7">
          <button class="btn btn-primary btn-block" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="true" #cursosModal>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Seleccionar Curso</h3>
  </modal-header>
  <modal-body>
    <div class="panel" *ngIf="allCursos.length>0 && jefaturas">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-hover">
            <thead>
            <tr class="bg-primary">
              <th>Curso</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let curso of allCursos | filterAsignar:'cursos':jefaturas:unassignedJefaturas">
              <td class="maw-320" (click)="selectCurso(curso.curso.id)">
                <span>{{ curso.curso.grado }} {{ curso.curso.curso }}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </modal-body>
</modal>

<modal [animation]="true" #asignaturasModal>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Seleccionar Asignatura</h3>
  </modal-header>
  <modal-body>
    <div class="panel" *ngIf="allAsignaturas.length>0 && asignaturasDictadas">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-hover">
            <thead>
            <tr class="bg-primary">
              <th>Asignatura</th>
              <th></th>
              <th>Plan de Estudios</th>
              <th>Formación</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asignatura of allAsignaturas | filterAsignar:'asignaturas':asignaturasDictadas:[]">
              <td class="maw-320" (click)="selectAsignatura(asignatura.id)">
                <span>{{ asignatura.nombre }}</span>
              </td>
              <td>
                <span class="label label-outline-info label-pill" *ngIf="asignatura.obligatoria">Obligatoria</span>
                <span class="label label-outline-info label-pill" *ngIf="asignatura.especial">Especial</span>
              </td>
              <td>{{getPlanEstudiosByAsignaturaId(asignatura.plan_id)}}</td>
              <td>
                <span>{{ asignatura.formacion }}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </modal-body>
</modal>

<modal [animation]="true" #confirmModal>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Modificaciones realizadas exitosamente.</h3>
  </modal-header>
  <modal-body>
    <p class="card-text">Presione Ok para continuar.</p>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="confirmModalClose()">Ok</button>
  </modal-footer>
</modal>
