<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-l">Periodo Académico</h3>
      </div>
      <div class="card-body">
        <div class="form form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="form-control-1">Fecha Inicio</label>
            <div class="col-sm-3">
              <div class="input-with-icon">
                <input class="form-control" id="form-control-1">
                <span class="icon icon-calendar input-icon"></span>
              </div>
            </div>
            <label class="control-label col-sm-2" for="form-control-2">Fecha Término</label>
            <div class="col-sm-3">
              <div class="input-with-icon">
                <input class="form-control" id="form-control-2">
                <span class="icon icon-calendar input-icon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
