<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2">
            <div class="panel-title">
              Cursos
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-with-icon">
              <input class="form-control input-thick" type="text" placeholder="Buscar..." [(ngModel)]="filterData">
              <span class="icon icon-search input-icon"></span>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <div class="btn-group fit-width">
              <button class="btn btn-block btn-outline-primary"
                      (click)="selectAll()"
                      [ngClass]="{'active': disabledSelect}">Seleccionar Todos
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" *ngIf="!(disabledSelect)">
        <div class="table-responsive">
          <table class="table table-middle table-bordered">
            <thead>
            <tr class="bg-primary">
              <th>Grado</th>
              <th>Curso</th>
              <th>Profesor Jefe</th>
              <th>Año</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let curso of cursos | filterArray: filterData"
                (click)="selectCurso(curso.curso.id)" [ngClass]="{'bg-info':include(selected,curso.curso.id)}">
              <td>{{curso.curso.grado}}</td>
              <td>{{curso.curso.curso}}</td>
              <td>{{curso.profesor.nombre}} {{curso.profesor.apellido_paterno}} {{curso.profesor.apellido_materno}}</td>
              <td>{{curso.curso.anio}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

