<div class="title-bar">
  <h1 class="title-bar title">Ver Funcionario</h1>
  <p class="title bar description"></p>
</div>

<div class="row" *ngIf="funcionario && funcionario.usuario">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h3 class="card-title fw-l">Datos Personales</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="demo-form-wrapper">
          <div class="form form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="form-control-14">Nombre</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-14" [(ngModel)]="funcionario.usuario.nombre" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-15">Apellido Paterno</label>
              <div class="col-sm-2">
                <input class="form-control" type="text" id="form-control-15" [(ngModel)]="funcionario.usuario.apellido_paterno" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-16">Apellido Materno</label>
              <div class="col-sm-2">
                <input class="form-control" type="text" id="form-control-16" [(ngModel)]="funcionario.usuario.apellido_materno" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 col-sm-offset-1 control-label" for="form-control-17">Sexo</label>
              <div class="col-sm-1">
                <input class="form-control no-arrows" type="text" id="form-control-17" [(ngModel)]="funcionario.usuario.sexo" readonly>
              </div>
              <label class="col-sm-2 control-label" for="form-control-18">Fecha de Nacimiento</label>
              <div class="col-sm-3">
                <div class="input-with-icon">
                  <input class="form-control" id="form-control-18"
                         [(ngModel)]="funcionario.usuario.fecha_nacimiento"
                         readonly>
                  <span class="icon icon-calendar input-icon"></span>
                </div>
              </div>
              <label class="col-sm-1 control-label" for="form-control-19">Rut</label>
              <div class="col-sm-2">
                <input class="form-control no-arrows" type="number" id="form-control-19" [(ngModel)]="funcionario.usuario.rut" readonly>
              </div>
              <div class="col-sm-1">
                <input class="form-control" type="text" id="form-control-20" [(ngModel)]="funcionario.usuario.dv" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 col-sm-offset-1 control-label" for="form-control-21">Teléfono Fijo</label>
              <div class="col-sm-2">
                <input id="form-control-21" class="form-control" type="text" [(ngModel)]="funcionario.usuario.fono_casa" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-22">Teléfono Móvil</label>
              <div class="col-sm-2">
                <input id="form-control-22" class="form-control" type="text" [(ngModel)]="funcionario.usuario.fono_movil" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-23">Email</label>
              <div class="col-sm-4">
                <input id="form-control-23" class="form-control" type="text" [(ngModel)]="funcionario.usuario.mail" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="form-control-24">Nacionalidad</label>
              <div class="col-sm-5">
                <input class="form-control" id="form-control-24" type="text" [(ngModel)]="funcionario.usuario.nacionalidad" readonly>
              </div>
              <label class="col-sm-2 control-label" for="form-control-25">Estado Civil</label>
              <div class="col-sm-3">
                <input class="form-control" id="form-control-25" type="text" [(ngModel)]="funcionario.usuario.estado_civil" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h3 class="card-title fw-l">Roles</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="demo-form-wrapper">
          <div class="form form-horizontal">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="form-control-28">Roles Docentes</label>
              <div class="col-sm-8">
                <select2 id="form-control-28"
                         [data]="selectRolesDocentesData"
                         [options]="selectRolesOptions"
                         [width]="350 | select2WidthFix"
                         [value]="rolesDocentes"
                         [disabled]="true" *ngIf="rolesDocentesCheck"></select2>
              </div>
            </div>

            <div class="col-sm-12 p-b-md" *ngIf="false | includeProfesor:rolesDocentes">
              <div class="form group" *ngIf="funcionario.horas_profesor">
                <label class="col-sm-4 control-label" for="form-control-30">Horas Profesor</label>
                <div class="col-sm-2 col-sm-offset-1">
                  <input id="form-control-30" class="form-control" type="number" [(ngModel)]="funcionario.horas_profesor.valor">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label" for="form-control-29">Roles No Docentes</label>
              <div class="col-sm-8">
                <select2 id="form-control-29"
                         [data]="selectRolesNoDocentesData"
                         [options]="selectRolesOptions"
                         [width]="350 | select2WidthFix"
                         [value]="rolesNoDocentes"
                         [disabled]="true" *ngIf="rolesNoDocentesCheck"></select2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
        <div class="col-sm-8">
          <button class="btn btn-primary btn-block" (click)="goToEdit()">Editar</button>

          <modal [animation]="true" #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">Funcionario creado con éxito.</h4>
            </modal-header>
            <modal-body>
              Presione Ok para continuar.
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
            </modal-footer>
          </modal>

        </div>
      </div>
    </div>
  </div>
</div>
