<div class="row">
  <div class="col-xs-12">
    <div class="demo-form-wrapper">
      <div class="form form-horizontal">
        <div class="form-group form-group-lg">
          <div class="col-md-7 col-md-offset-1">
            <div class="input-with-icon">
              <input class="form-control input-thick" type="text" placeholder="Buscar&hellip;" [(ngModel)]="filterData">
              <span class="icon icon-search input-icon"></span>
            </div>
          </div>
          <div class="col-md-3">
            <a class="btn btn-lg btn-primary btn-block" [routerLink]="['../crear']">Crear Postulacion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="row gutter-none">
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-default"
                    (click)="selectedTable = 'tSinResolver'"
                    [ngClass]="{'active':selectedTable == 'tSinResolver'}"><span class="icon icon-fw btn-icon icon-inbox"></span> Sin Resolver</button>
          </div>
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-success"
                    (click)="selectedTable = 'tAceptadas'"
                    [ngClass]="{'active':selectedTable == 'tAceptadas'}"><span class="icon icon-fw btn-icon icon-check"></span> Aceptadas</button>
          </div>
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-info"
                    (click)="selectedTable = 'tListaEspera'"
                    [ngClass]="{'active':selectedTable == 'tListaEspera'}"><span class="icon icon-fw btn-icon icon-clock-o"></span> Lista de Espera</button>
          </div>
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-warning"
                    (click)="selectedTable = 'tRechazadas'"
                    [ngClass]="{'active':selectedTable == 'tRechazadas'}"><span class="icon icon-fw btn-icon icon-ban"></span> Rechazadas</button>
          </div>
        </div>
      </div>
      <div class="panel-body" *ngIf="selectedTable == 'tSinResolver'">
        <app-ver-postulaciones  [filter]="filterData"
                                (onSelect)="onSelectSubjects($event)"></app-ver-postulaciones>
      </div>
      <div class="panel-body" *ngIf="selectedTable == 'tAceptadas'">
        <app-postulaciones-aceptadas [filter]="filterData"
                                     (onSelect)="onSelectSubjects($event)"></app-postulaciones-aceptadas>
      </div>
      <div class="panel-body" *ngIf="selectedTable == 'tListaEspera'" >
        <app-postulaciones-espera [filter]="filterData"
                                  (onSelect)="onSelectSubjects($event)"></app-postulaciones-espera>
      </div>
      <div class="panel-body" *ngIf="selectedTable == 'tRechazadas'">
        <app-postulaciones-rechazadas [filter]="filterData"
                                      (onSelect)="onSelectSubjects($event)" ></app-postulaciones-rechazadas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-block btn-danger"
                (click)="confirmModalOpen(1)"
                [disabled]="subjects.length==0">Eliminar</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block btn-success"
                (click)="confirmModalOpen(2)"
                [disabled]="subjects.length==0 || selectedTable == 'tAceptadas'">Aceptar</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block btn-info"
                (click)="confirmModalOpen(3)"
                [disabled]="subjects.length==0 || selectedTable == 'tListaEspera'">A Lista de Espera</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block btn-warning"
                (click)="confirmModalOpen(4)"
                [disabled]="subjects.length==0 || selectedTable == 'tRechazadas'">Rechazar</button>
      </div>
    </div>
  </div>
</div>

<modal [animation]="true" #confirmModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{confirmModalMode.title}}</h4>
  </modal-header>
  <modal-body>
    <div class="table-responsive">
      <table class="table table-middle table-bordered table-hover">
        <thead>
        <tr class="bg-default">
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Rut</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let postulacion of subjects">
          <td>
            {{postulacion.nombre}}
          </td>
          <td>
            <strong>{{postulacion.apellido_paterno}} {{postulacion.apellido_materno}}</strong>
          </td>
          <td>
            {{postulacion.rut}}-{{postulacion.dv}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <p class="card-text">{{confirmModalMode.body}}</p>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="confirmModalDismiss()">Cancelar</button>
    <button *ngIf="confirmModalMode.mode == 1" type="button" class="btn btn-primary" (click)="deleteSelected()">Ok</button>
    <button *ngIf="confirmModalMode.mode == 2" type="button" class="btn btn-primary" (click)="aceptarSelected()">Ok</button>
    <button *ngIf="confirmModalMode.mode == 3" type="button" class="btn btn-primary" (click)="moverAListaEsperaSelected()">Ok</button>
    <button *ngIf="confirmModalMode.mode == 4" type="button" class="btn btn-primary" (click)="rechazarSelected()">Ok</button>
  </modal-footer>
</modal>

<modal [animation]="true" #notifyModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{notifyModalTitle}}</h4>
  </modal-header>
  <modal-body>
    <p class="card-text">Presione Ok para continuar.</p>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="notifyModalClose()">Ok</button>
  </modal-footer>
</modal>
