<div class="row">
  <div class="col-xs-12">
    <div class="demo-form-wrapper">
      <div class="form form-horizontal">
        <div class="form-group form-group-lg">
          <div class="col-md-7 col-md-offset-1">
            <div class="input-with-icon">
              <input class="form-control input-thick" type="text" placeholder="Buscar&hellip;" [(ngModel)]="filterData">
              <span class="icon icon-search input-icon"></span>
            </div>
          </div>
          <div class="col-md-3">
            <a class="btn btn-lg btn-primary btn-block" [routerLink]="['../crear']">Crear Postulacion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="row gutter-xs">
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-default">Sin Resolver</button>
          </div>
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-success">Aceptadas</button>
          </div>
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-info">Lista de Espera</button>
          </div>
          <div clasS="col-md-3">
            <button class="btn btn-block btn-outline-warning">Rechazadas</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <app-ver-postulaciones [filter]="filterData"></app-ver-postulaciones>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-block btn-danger"><span class="icon icon-fw btn-icon icon-close"></span> Eliminar</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block btn-success"><span class="icon icon-fw btn-icon icon-check"></span> Aceptar</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block btn-info"><span class="icon icon-fw btn-icon icon-list-alt"></span> A Lista de Espera</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-block btn-warning"><span class="icon icon-fw btn-icon icon-frown-o"></span> Rechazar</button>
      </div>
    </div>
  </div>
</div>

<modal [animation]="true" #deleteModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Eliminar Postulación.</h4>
  </modal-header>
  <modal-body>
    Haga click en Ok para continuar eliminando la postulación seleccionada.
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="deleteModalDismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="deleteModalClose(postulacionToDelete_id)">Ok</button>
  </modal-footer>
</modal>
