<div class="row">
  <div class="col-xs-12">
    <app-spinner *ngIf="!(alumnos.length>0)"></app-spinner>
    <div class="panel" *ngIf="alumnos.length>0">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered">
            <thead>
            <tr class="bg-primary">
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Rut</th>
              <th>Contacto</th>
              <th>Estados</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of alumnos">
              <td>{{alumno.nombre}}</td>
              <td>{{alumno.apellido_paterno}} {{alumno.apellido_materno}}</td>
              <td>{{alumno.rut}}-{{alumno.dv}}</td>
              <td>{{alumno.fono_movil}}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
