<div class="row">
  <div class="col-xs-12">
    <app-spinner *ngIf="!(alumnos.length>0)"></app-spinner>
    <div class="panel" *ngIf="alumnos.length>0">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-primary">
              <th>N°</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Rut</th>
              <th>Estados</th>
              <th class="maw-320"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of alumnos" [ngClass]="{'desiste':alumno.desiste }">
              <td>{{alumno.lista}}</td>
              <td>{{alumno.nombre}}</td>
              <td>{{alumno.apellido_paterno}} {{alumno.apellido_materno}}</td>
              <td>{{alumno.rut}}-{{alumno.dv}}</td>
              <td>
                <span class="label label-outline-info label-pill" *ngIf="alumno.prioritario">SEP</span>
                <span class="label label-outline-info label-pill" *ngIf="alumno.proretencion">Pro Retención</span>
                <span class="label label-outline-info label-pill" *ngIf="alumno.preferente">Preferente</span>
                <span class="label label-outline-info label-pill" *ngIf="alumno.pie">PIE</span>
                <span class="label label-outline-info label-pill" *ngIf="alumno.extranjero">Extranjero/a</span>
              </td>
              <td>
                <div class="demo-btn-toolbar btn-toolbar">
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-sm btn-danger"
                            (click)="modalOpen(alumno)"
                            *ngIf="!alumno.desiste">
                      <span class="icon icon-times-circle-o icon-fw" *ngIf="!alumno.desiste"></span>
                    </button>

                    <button class="btn btn-sm btn-info"
                            (click)="activarModalOpen(alumno)" *ngIf="alumno.desiste">
                      <span class="icon icon-circle-o icon-fw" *ngIf="alumno.desiste"></span>
                    </button>

                    <modal [animation]="true" #modal>
                      <modal-header [show-close]="true">
                        <h4 class="modal-title">Desactivar Alumno</h4>
                      </modal-header>
                      <modal-body>
                        Haga click en Ok para continuar desactivando el alumno seleccionado.
                      </modal-body>
                      <modal-footer>
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalDismiss()">Cancelar</button>
                        <button type="button" class="btn btn-danger" (click)="modalClose()">Ok</button>
                      </modal-footer>
                    </modal>

                    <modal [animation]="true" #activarModal>
                      <modal-header [show-close]="true">
                        <h4 class="modal-title">Activar Alumno</h4>
                      </modal-header>
                      <modal-body>
                        Haga click en Ok para continuar activando el alumno seleccionado.
                      </modal-body>
                      <modal-footer>
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="activarModalDismiss()">Cancelar</button>
                        <button type="button" class="btn btn-info" (click)="activarModalClose()">Ok</button>
                      </modal-footer>
                    </modal>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
