<div class="error">
  <div class="error-body text-center">
    <h1 class="error-heading">Página No Encontrada :^(</h1>
    <h4 class="error-subheading">Lo sentimos, la página que buscabas no fue encontrada.</h4>
    <p>
      <small>Puede que la URL esté mal escrita, o que la página que buscas ya no ese disponible. Si crees que llegaste aqui por error nuestro, <a href="#">contáctanos</a>.</small>
    </p>
    <p><a class="btn btn-primary btn-pill btn-thick" (click)="goBack()">Volver atrás</a></p>
  </div>
</div>
