{{filter}}
<div class="table-responsive">
  <table class="table table-middle table-bordered">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Rut</th>
      <th>Fecha de Nacimiento</th>
      <th>Sexo</th>
      <th>Dirección</th>
      <th>Telefono</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let postulacion of postulaciones | filterArray:filterData:filterKeys"
        (click)="selectAlumno(postulacion?.id)"
        [ngClass]="{'bg-default':include(selected,postulacion?.id)}">
      <td>
	                <span class="icon-with-child m-r">
	                  <img class="circle" width="36" height="36" src="assets/img/3975409957.jpg">
                    <!--<span class="icon-child bg-warning circle sq-8"></span>-->
	                </span>
        <strong>{{postulacion.apellidos}} {{postulacion.nombre}}</strong>
      </td>
      <td>
        {{postulacion.rut}}-{{postulacion.dv}}
      </td>
      <td>
        {{postulacion.fecha_nac}}
      </td>
      <td>
        {{postulacion.sexo}}
      </td>
      <td class="maw-320">
        <span class="truncate">{{postulacion.direccion}} {{postulacion.n}}</span>
      </td>
      <td>
        {{postulacion.fono_casa}}
      </td>
      <td>
        <div class="btn-toolbar pull-right">
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary btn-sm" [routerLink]="['./',postulacion.id]">
              <span class="icon icon-eye icon-fw"></span>
            </a>
            <a class="btn btn-primary btn-sm" [routerLink]="['../editar',postulacion.id]">
              <span class="icon icon-pencil-square-o icon-fw"></span>
            </a>
            <button class="btn btn-danger btn-sm" (click)="deleteModalOpen(postulacion.id)">
              <span class="icon icon-times icon-fw"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
