<div class="row">
  <div class="col-xs-12">
    <div class="demo-form-wrapper">
      <div class="form form-horizontal">
        <div class="form-group form-group-lg">
          <div class="col-md-8 col-md-offset-2">
            <div class="input-with-icon">
              <input class="form-control" type="text" placeholder="Buscar&hellip;" [(ngModel)]="filterData">
              <span class="icon icon-search input-icon"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-spinner [timeoutMessage]="timeoutMessage" *ngIf="!(profesores.length>0)"></app-spinner>
    <div class="panel" *ngIf="profesores.length>0">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-hover">
            <thead>
            <tr class="bg-primary">
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Rut</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profesor of profesores | filterArray:filterData:filterKeys">
              <td>
	                <span class="icon-with-child m-r">
	                  <img class="circle" width="36" height="36" src="assets/img/1099386850.jpg">
                    <!--<span class="icon-child bg-warning circle sq-8"></span>-->
	                </span>
                {{profesor.usuario.nombre}}
              </td>
              <td>
                <strong>{{profesor.usuario.apellido_paterno}} {{profesor.usuario.apellido_materno}}</strong>
              </td>
              <td class="maw-320">
                {{profesor.usuario.rut}}-{{profesor.usuario.dv}}
              </td>
              <td>
                <div class="btn-toolbar pull-right">
                  <div class="btn-group btn-group-sm">
                    <a class="btn btn-primary btn-sm" [routerLink]="['../asignar',profesor.id]">
                      <span class="icon icon-edit icon-fw"></span>
                    </a>

                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
