<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-heading">
            <p>Nombre</p>
          </div>
          <div class="media-body media-middle">
            <p>Plan de Estudios</p>
            <p>Flags</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="form form-horizontal">
          <div class="form-group">
            <div class="control-label col-sm-2">Evaluación Especial</div>
            <div class="col-md-1">
              <label class="switch switch-info">
                <input class="switch-input" type="checkbox">
                <span class="switch-track"></span>
                <span class="switch-thumb"></span>
              </label>
            </div>
            <div class="col-sm-8">
              <select class="form-control">
                <option [value]="null" disabled selected>Seleccionar Escala</option>
                <option value="1">Escala Numérica 0 a 100</option>
                <option value="2">Escala Oficial Educación Parvularia</option>
                <option value="3">Escala Modificada Educación Parvularia</option>
                <option value="4">Escala Especial</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer" *ngIf="false">
        <!--Escalas-->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-3">
          <button class="btn btn-default btn-block">Volver</button>
        </div>
        <div class="col-sm-9">
          <button class="btn btn-primary btn-block">Guardar</button>

          <!--<modal [animation]="true" #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">Matricula creada con éxito.</h4>
            </modal-header>
            <modal-body>
              Presione Ok para continuar.
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
            </modal-footer>
          </modal>-->

        </div>
      </div>
    </div>
  </div>
</div>
