<div class="row">
  <div class="col-xs-12">
    <app-spinner *ngIf="!(asignaturas.length>0)"></app-spinner>
    <div class="panel" *ngIf="asignaturas.length>0 && notasCongif.notas">
      <div class="panel-heading">
        <div class="demo-btn-toolbar btn-toolbar">
          <div class="btn-group" >
            <button class="btn btn-sm btn-outline-info"
                    *ngFor="let asignatura of asignaturas"
                    (click)="setAsignatura(asignatura?.asignatura.datos.id)"
                    [ngClass]="{'active': (asignatura?.asignatura.datos.id == selectedAsignatura.datos.id)}">{{asignatura?.asignatura.datos.nombre}}</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped table-bordered">
            <thead>
            <tr class="bg-primary">
              <th rowspan="2">#</th>
              <th rowspan="2" >Nombre</th>
              <th rowspan="2">Apellidos</th>
              <th rowspan="1" [attr.colspan]="selectedAsignatura.cantidad + 1" class="text-center  ">Notas</th>
            </tr>
            <tr class="bg-primary">
              <th rowspan="1" colspan="1" *ngFor="let item of createRange(selectedAsignatura.cantidad); let currentIndex = index"
                  (click)="modalInfoOpen(currentIndex)">{{currentIndex+1}}<span class="pull-right icon icon-commenting-o"></span></th>
              <th rowspan="1" colspan="1" (click)="modalConfigInfoOpen()">Prom<span class="pull-right icon icon-commenting-o"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of selectedAsignaturaAlumnos">
              <td>{{alumno.alumno.id}}</td>
              <td>{{alumno.alumno.nombre}}</td>
              <td>{{alumno.alumno.apellido_paterno}} {{alumno.alumno.apellido_materno}}</td>
              <td *ngFor="let nota of alumno.notas" style="width:60px">{{nota.valor | number:decimals }}</td>
              <td>{{alumno.notas | calcPromedio:selectedAsignatura.info_notas:notasCongif | number:decimals }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="true" #modalInfo>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Evaluación</h3>
  </modal-header>
  <modal-body>
    <p class="card-text">Contenido: {{infoNota.contenido}}</p>
    <p class="card-text">Fecha de Evaluación: {{infoNota.fecha}}</p>
    <p class="card-text">Coeficiente: {{infoNota.coeficiente}}</p>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="modalInfoClose()">Continuar</button>
  </modal-footer>
</modal>

<modal [animation]="true" #modalConfigInfo>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Configuración de Promedio</h3>
  </modal-header>
  <modal-body *ngIf="notasCongif.notas">
    <p class="card-text">Decimales: {{notasCongif?.notas.decimales}}</p>
    <p class="card-text">Método de Aproximación: {{notasCongif?.notas.aprox? 'Hacia Arriba' : 'Truncado' }}</p>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="modalConfigInfoClose()">Continuar</button>
  </modal-footer>
</modal>
