<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2">
            <div class="panel-title">
              Alumnos
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-with-icon">
              <input class="form-control input-thick" type="text" placeholder="Buscar..." [(ngModel)]="filterData">
              <span class="icon icon-search input-icon"></span>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <div class="btn-group fit-width">
              <!--<button class="btn btn-block btn-outline-primary"
                      (click)="selectAll()"
                      [ngClass]="{'active': disabledSelect}">Seleccionar Todos
              </button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" *ngIf="!(disabledSelect)">
        <div class="table-responsive">
          <table class="table table-middle table-bordered table-hover">
            <thead>
            <tr class="bg-primary">
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Rut</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of alumnos | filterArray:filterData:filterKeys"
                (click)="selectAlumno(alumno.id)" [ngClass]="{'bg-info':include(selected,alumno.id)}">
              <td [ngClass]="{'desiste':alumno.desiste }">{{alumno.nombre}}</td>
              <td [ngClass]="{'desiste':alumno.desiste }">{{alumno.apellido_paterno}} {{alumno.apellido_materno}}</td>
              <td [ngClass]="{'desiste':alumno.desiste }">{{alumno.rut}}-{{alumno.dv}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="true" #warningModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Máximo número de alumnos alcanzado.</h4>
  </modal-header>
  <modal-body>
    <p class="card-text">Ha seleccionado el máximo número de alumnos posible. Presiones Ok para continuar.</p>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="warningModalClose()">Ok</button>
  </modal-footer>
</modal>

