<div class="error">
  <div class="error-body text-center">
    <h1 class="error-heading">Acceso Prohibido >:^(</h1>
    <h4 class="error-subheading">Lo sentimos, no tienes permisos para entrar a esta página.</h4>
    <p>
      <small>Tu sesión no cuenta con los permisos necesarios para acceder a esta página. Si crees que deberías tener acceso, <a href="#">contactanos</a>.</small>
    </p>
    <p><a class="btn btn-primary btn-pill btn-thick" (click)="goBack()">Volver atrás</a></p>
  </div>
</div>
