<div class="title-bar">
  <h2 class="title-bar-title"><span class="icon icon-fw icon-calendar-o"></span> Planes de Estudio y Tipos de Enseñanza</h2>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-l">Planes de Estudio</h3>
      </div>
      <div class="card-body">
        <div class="media">
          <div class="media-body media-middle">
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-10">
                  <select2 id="form-control-1"
                           [data]="selectPlanesData"
                           [width]="520 | select2WidthFix"
                           [options]="selectPlanesOptions"
                           [value]="selectedPlanes"
                           (valueChanged)="planChanged($event.value)"
                           *ngIf="selectPlanesData.length>0"></select2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngFor="let plan of configuracion.planes" [@fade]="true">
      <div class="card-header">
        <h4 class="fw-l">{{plan.decreto}} <span class="fw-sb panel-info pull-right">Código: {{plan.codigo}}</span></h4>
      </div>
      <div class="card-header">
        <div class="media">
          <div class="media-body media-middle">
            <div class="form-horizontal">
              <div class="form-group">
                <label></label>
                <div class="col-sm-8">
                  <select2 id="form-control-2"
                           [data]="plan.selectTiposData"
                           [width]="520 | select2WidthFix"
                           [options]="selectTiposOptions"
                           *ngIf="plan.selectTiposData"></select2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header" *ngFor="let tipo of plan.tipos" [@fade]>
        <div class="media">
          <div class="media-middle media-left">
            <h5 class="fw-l"><span class="fw-sb panel-info">Código: {{tipo.codigo}}</span><span class="pull-right"> {{tipo.glosa}}</span></h5>
          </div>
          <div class="media-middle media-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label>Horas por Nivel</label>
                <div class="col-sm-2">
                  <input class="form-control" [(ngModel)]="tipo.curos_nivel">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

