<div class="title-bar">
  <h1 class="title-bar title">Editar Funcionario</h1>
  <p class="title bar description"></p>
</div>

<div class="row" *ngIf="this.funcionario && this.selectedFuncionario">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h3 class="card-title fw-l">Datos Personales</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="demo-md-form-wrapper">
          <div class="form form-horizontal">
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-14"><b>Nombre:</b> {{selectedFuncionario.usuario.nombre}}</label>
              <div class="col-sm-5">
                <input class="form-control" type="text" id="form-control-14" [(ngModel)]="funcionario?.usuario.nombre">
              </div>
              <label class="col-sm-1 col-sm-offset-5 md-control-label" for="form-control-15"><b>Apellido Paterno:</b> {{selectedFuncionario.usuario.apellido_paterno}}</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-15" [(ngModel)]="funcionario?.usuario.apellido_paterno">
              </div>
              <label class="col-sm-1 col-sm-offset-8 md-control-label" for="form-control-16"><b>Apellido Materno:</b> {{selectedFuncionario.usuario.apellido_materno}}</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-16" [(ngModel)]="funcionario.usuario.apellido_materno">
              </div>
            </div>
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-17"><b>Sexo:</b> {{selectedFuncionario.usuario.sexo}}</label>
              <div class="col-sm-2">
                <select class="form-control no-arrows" type="text" id="form-control-17" [(ngModel)]="funcionario.usuario.sexo">
                  <option value="&hellip;" selected="selected"></option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>
              <label class="col-sm-1 col-sm-offset-2 md-control-label" for="form-control-18"><b>Fecha de Nacimiento:</b> {{selectedFuncionario.usuario.fecha_nacimiento}}</label>
              <div class="col-sm-5">
                <div class="input-with-icon">
                  <input class="form-control" id="form-control-18"
                         [(ngModel)]="funcionario.usuario.fecha_nacimiento"
                         ng2-datetime-picker
                         close-on-select="true"
                         date-only="true"
                         date-format="DD-MM-YYYY">
                  <span class="icon icon-calendar input-icon"></span>
                </div>
              </div>
              <label class="col-sm-1 col-sm-offset-7 md-control-label" for="form-control-19"><b>Rut</b></label>
              <div class="col-sm-3">
                <input class="form-control no-arrows" type="number" id="form-control-19" [(ngModel)]="funcionario.usuario.rut" readonly>
              </div>
              <div class="col-sm-1">
                <input class="form-control" type="text" id="form-control-20" [(ngModel)]="funcionario.usuario.dv" readonly>
              </div>
            </div>
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-21"><b>Teléfono Fijo:</b> {{selectedFuncionario.usuario.fono_casa}}</label>
              <div class="col-sm-3">
                <input id="form-control-21" class="form-control" type="text" [(ngModel)]="funcionario.usuario.fono_casa">
              </div>
              <label class="col-sm-1 col-sm-offset-3 md-control-label" for="form-control-22"><b>Teléfono Móvil:</b> {{selectedFuncionario.usuario.fono_movil}}</label>
              <div class="col-sm-3">
                <input id="form-control-22" class="form-control" type="text" [(ngModel)]="funcionario.usuario.fono_movil">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-23"><b>Email:</b> {{selectedFuncionario.usuario.email}}</label>
              <div class="col-sm-5">
                <input id="form-control-23" class="form-control" type="text" [(ngModel)]="funcionario.usuario.mail">
              </div>
            </div>
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-24"><b>Nacionalidad:</b> {{selectedFuncionario.usuario.nacionalidad}}</label>
              <div class="col-sm-6">
                <select2 id="form-control-24"
                         [data]="selectNacionalidadData"
                         [width]="350 | select2WidthFix"
                         [options]="selectNacionalidadOptions"
                         [value]="funcionario.usuario.nacionalidad"
                         *ngIf="funcionario"
                         (valueChanged)="funcionario.usuario.nacionalidad = $event.value"></select2>
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-25"><b>Estado Civil:</b> {{selectedFuncionario.usuario.estado_civil}}</label>
              <div class="col-sm-3">
                <select2 id="form-control-25"
                         [data]="selectEstadoCivilData"
                         [width]="150"
                         [options]="selectEstadoCivilOptions"
                         [value]="funcionario.usuario.estado_civil"
                         *ngIf="selectEstadoCivilData.length > 0 && funcionario"
                         (valueChanged)="funcionario.usuario.estado_civil = $event.value"></select2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="this.selectedFuncionario && this.funcionario">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h3 class="card-title fw-l">Roles</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="demo-form-wrapper">
          <div class="form form-horizontal">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="form-control-28">Roles Docentes</label>
              <div class="col-sm-8">
                <select2 id="form-control-28"
                         [data]="selectRolesDocentesData"
                         [width]="350 | select2WidthFix"
                         [options]="selectRolesOptions"
                         [value]="rolesDocentes"
                         (valueChanged)="rolDocenteChange($event.value)" *ngIf="rolesDocentesCheck"></select2>
              </div>
            </div>
            <div class="col-sm-12 p-b-md" *ngIf="false | includeProfesor:rolesDocentes">
              <div class="form group" *ngIf="funcionario.horas_profesor">
                <label class="col-sm-4 control-label" for="form-control-30">Horas Profesor</label>
                <div class="col-sm-2 col-sm-offset-1">
                  <input id="form-control-30" class="form-control" type="number" [(ngModel)]="funcionario.horas_profesor.valor">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="form-control-29">Roles No Docentes</label>
              <div class="col-sm-8">
                <select2 id="form-control-29"
                         [data]="selectRolesNoDocentesData"
                         [width]="350 | select2WidthFix"
                         [options]="selectRolesOptions"
                         [value]="rolesNoDocentes"
                         (valueChanged)="rolNoDocenteChange($event.value)" *ngIf="rolesNoDocentesCheck"></select2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
        <div class="col-sm-8">
          <button class="btn btn-primary btn-block" (click)="saveFuncionario()">Guardar</button>

          <modal [animation]="true" #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">Funcionario modificado con éxito.</h4>
            </modal-header>
            <modal-body>
              Presione Ok para continuar.
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
            </modal-footer>
          </modal>

        </div>
      </div>
    </div>
  </div>
</div>
