<div class="error">
  <div class="error-body text-center">
    <h1 class="error-heading">Alerta <span class="icon icon-lg icon-warning"></span></h1>
    <h4 class="error-subheading">No se ha realizado la configuración de {{ configName }}.</h4>
    <p>
      <small>Contáctate con el Sostenedor, Director o Jefe de UTP del establecimiento. Si crees que llegaste aqui por error nuestro, <a href="#">contáctanos</a>.</small>
    </p>
    <p><a class="btn btn-primary btn-pill btn-thick" [routerLink]="['../../dashboard']">Ir al Inicio</a></p>
  </div>
</div>
