<app-spinner [timeoutMessage]="timeoutMessage" [timeout]="timeout" *ngIf="!(postulaciones.length>0)&&timeout"></app-spinner>
<div class="table-responsive" *ngIf="postulaciones.length>0">
  <table class="table table-middle table-bordered table-hover">
    <thead>
    <tr class="bg-success">
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Rut</th>
      <th>Fecha de Nacimiento</th>
      <th>Sexo</th>
      <th>Telefono</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let postulacion of postulaciones | filterArray:filterData:filterKeys"
        (click)="selectAlumno(postulacion?.id)"
        [ngClass]="{'bg-info-inverse':include(selected,postulacion?.id)}">
      <td>
        {{postulacion.nombre}}
      </td>
      <td>
        <strong>{{postulacion.apellido_paterno}} {{postulacion.apellido_materno}}</strong>
      </td>
      <td>
        {{postulacion.rut}}-{{postulacion.dv}}
      </td>
      <td>
        {{postulacion.fecha_nac}}
      </td>
      <td>
        {{postulacion.sexo}}
      </td>
      <td>
        {{postulacion.fono_casa}}
      </td>
      <td>
        <div class="btn-toolbar pull-right">
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary btn-sm" [routerLink]="['../ver',postulacion.id]">
              <span class="icon icon-eye icon-fw"></span>
            </a>
            <a class="btn btn-primary btn-sm" [routerLink]="['../editar',postulacion.id]">
              <span class="icon icon-pencil-square-o icon-fw"></span>
            </a>
            <button class="btn btn-danger btn-sm" (click)="deleteModalOpen(postulacion.id)" [disabled]="include(selected,postulacion.id)">
              <span class="icon icon-times icon-fw"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<modal [animation]="true" #deleteModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Eliminar Postulación.</h4>
  </modal-header>
  <modal-body>
    Haga click en Ok para eliminar la postulación seleccionada.
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteModalDismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="deleteModalClose(postulacionToDelete_id)">Ok</button>
  </modal-footer>
</modal>
