<div class="login-wrapper">
  <div class="login-wrapper-body">
    <div class="signup">
      <div class="signup-body">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 class="fw-l"> Seleccionar Colegio</h3>
            </div>
            <div class="panel-info">
              <span>Seleccionar un Colegio para iniciar sesión de Sostenedor.</span>
            </div>
          </div>
          <div class="panel-body">
            <div class="table-fixed">
              <div class="table table-middle table-hover">
                <thead>
                <tr class="bg-primary">
                  <th>Colegio</th>
                  <th>RBD</th>
                  <th>Dependencia</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let colegio of colegios" (click)="selectColegio(colegio.id)">
                  <td>
                    <!--<span class="icon-with-child m-r">
                        <img class="circle" width="36" height="36" src="assets/img/1099386850.jpg">
                      &lt;!&ndash;<span class="icon-child bg-warning circle sq-8"></span>&ndash;&gt;
                      </span>-->
                    <strong>{{colegio.nombre}}</strong>
                  </td>
                  <td>
                    <span class="label label-info lanel-sm">{{colegio.rbd}}</span>
                  </td>
                  <td>
                    {{colegio.dependencia}}
                  </td>
                </tr>
                </tbody>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
