<div class="title-bar">
  <h3 class="title-bar title">Editar Postulanción</h3>
  <h5 class="title bar description"></h5>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-l">
          Postulante
        </h3>
      </div>
      <div class="card-body">
        <div class="demo-md-form-wrapper">
          <div class="form form-horizontal">
            <div class="md-form-group md-label-static">

              <label class="col-md-1 md-control-label" for="form-control-1"><b>Nombre:</b> {{selectedPostulante.nombre}}</label>
              <div class="col-sm-5">
                <input class="form-control" type="text" id="form-control-1" [(ngModel)]="postulante.nombre">
              </div>

              <label class="col-sm-1 col-sm-offset-5 md-control-label" for="form-control-2"><b>Apellido Paterno:</b> {{selectedPostulante.apellido_paterno}}</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-2" [(ngModel)]="postulante.apellido_paterno">
              </div>

              <label class="col-sm-1 col-sm-offset-8 md-control-label" for="form-control-3"><b>Apellido Materno:</b> {{selectedPostulante.apellido_materno}}</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-3" [(ngModel)]="postulante.apellido_materno">
              </div>
            </div>

            <div class="md-form-group md-label-static">

              <label class="col-sm-1 md-control-label" for="form-control-4"><b>Sexo:</b> {{selectedPostulante.sexo}}</label>
              <div class="col-sm-2">
                <select class="form-control no-arrows" type="text" id="form-control-4" [(ngModel)]="postulante.sexo">
                  <option value="" selected="selected"></option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>

              <label class="col-sm-1 col-md-offset-2 md-control-label" for="form-control-5"><b>Fecha de Nacimiento:</b> {{selectedPostulante.fecha_nacimiento}}</label>
              <div class="col-sm-5">
                <div class="input-with-icon">
                  <input class="form-control" id="form-control-5" type="text" [(ngModel)]="postulante.fecha_nacimiento" value="16-July-2000" data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-MM-yyyy" data-date-start-view="decade" data-date-end-date="-5y">
                  <span class="icon icon-calendar input-icon"></span>
                </div>
              </div>

              <label class="col-sm-1 col-md-offset-7 md-control-label" for="form-control-6"><b>Rut</b></label>
              <div class="col-sm-3">
                <input class="form-control no-arrows" type="number" id="form-control-6" [(ngModel)]="postulante.rut" readonly>
              </div>
              <div class="col-sm-1">
                <input class="form-control" type="text" id="form-control-7" [(ngModel)]="postulante.dv" readonly>
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-8"><b>Nacionalidad:</b> {{selectedPostulante.nacionalidad}}</label>
              <div class="col-sm-5">
                <select2 id="form-control-8"
                         [data]="selectNacionalidadData"
                         [width]="300"
                         [options]="selectNacionalidadOptions"
                         (valueChanged)="postulante.nacionalidad = $event.value"></select2>
              </div>
              <label class="col-sm-1 col-sm-offset-5 md-control-label" for="form-control-9"><b>Etnia:</b> {{selectedPostulante.etnia}}</label>
              <div class="col-sm-3">
                <select2 id="form-control-9"
                         [data]="selectEtniaData"
                         *ngIf="selectEtniaData.length > 0"
                         [width]="150"
                         [options]="selectEtniaOptions"
                         (valueChanged)="postulante.etnia = $event.value"></select2>
              </div>
              <label class="col-sm-1 col-sm-offset-8 md-control-label" for="form-control-10"><b>Pasaporte:</b> {{selectedPostulante.pasaporte}}</label>
              <div class="col-sm-3">
                <input id="form-control-10" class="form-control" type="text" [(ngModel)]="postulante.pasaporte">
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-11"><b>Teléfono Fijo:</b> {{selectedPostulante.fono_casa}}</label>
              <div class="col-sm-3">
                <input id="form-control-11" class="form-control" type="text" [(ngModel)]="postulante.fono_casa">
              </div>

              <label class="col-sm-1 col-sm-offset-3 md-control-label" for="form-control-12"><b>Teléfono Móvil:</b> {{selectedPostulante.fono_movil}}</label>
              <div class="col-sm-3">
                <input id="form-control-12" class="form-control" type="text" [(ngModel)]="postulante.fono_movil">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-13"><b>Email:</b> {{selectedPostulante.email}}</label>
              <div class="col-sm-5">
                <input id="form-control-13" class="form-control" type="text" [(ngModel)]="postulante.email">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-1"> Prioritario </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.prioritario">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-1"> Vulnerable </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.vulnerable">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-1"> Preferente </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.preferente">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-1"> PIE </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.pie">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-2"> Intercambio </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.intercambio">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="media">
          <div class="media-middle pull-right">
            <button class="btn btn-block btn-outline-info"
                    (click)="undoChanges(postulante,selectedPostulante)" [disabled]="true"><span class="icon icon-fw icon-undo"></span> Deshacer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h3 class="card-title fw-l">Padre</h3>
          </div>
          <div class="media-middle media-right">
            <p class="fw-l">
              Apoderado
              <label class="custom-control custom-control-primary custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="{{padre.apoderado}}" [(ngModel)]="padre.apoderado" (ngModelChange)="onChange(padre,madre)">
                <span class="custom-control-indicator"></span>
              </label>
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="demo-md-form-wrapper">
          <div class="form form-horizontal">
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-14"><b>Nombre:</b> {{selectedPadre.nombre}}</label>
              <div class="col-sm-5">
                <input class="form-control" type="text" id="form-control-14" [(ngModel)]="padre.usuario.nombre">
              </div>
              <label class="col-sm-1 col-sm-offset-5 md-control-label" for="form-control-15"><b>Apellido Paterno:</b> {{selectedPadre.apellido_paterno}} </label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-15" [(ngModel)]="padre.usuario.apellido_paterno">
              </div>
              <label class="col-sm-1 col-sm-offset-8 md-control-label" for="form-control-16"><b>Apellido Materno:</b> {{selectedPadre.apellido_materno}}</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-16" [(ngModel)]="padre.usuario.apellido_materno">
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-17"><b>Sexo:</b> {{selectedPadre.usuario.sexo}}</label>
              <div class="col-sm-2">
                <select class="form-control no-arrows" type="text" id="form-control-17" [(ngModel)]="padre.usuario.sexo">
                  <option value="" selected="selected"></option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>

              <label class="col-sm-1 col-md-offset-2 md-control-label" for="form-control-18"><b>Fecha de Nacimiento:</b> {{selectedPadre.usuario.fecha_nacimiento}}</label>
              <div class="col-sm-5">
                <div class="input-with-icon">
                  <input class="form-control" id="form-control-18" type="text" [(ngModel)]="padre.usuario.fecha_nacimiento" value="16-July-2000" data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-MM-yyyy" data-date-start-view="decade" data-date-end-date="-5y">
                  <span class="icon icon-calendar input-icon"></span>
                </div>
              </div>

              <label class="col-sm-1 col-md-offset-7 md-control-label" for="form-control-19"><b>Rut</b></label>
              <div class="col-sm-3">
                <input class="form-control no-arrows" type="number" id="form-control-19" [(ngModel)]="padre.usuario.rut" readonly>
              </div>
              <div class="col-sm-1">
                <input class="form-control" type="text" id="form-control-20" [(ngModel)]="padre.usuario.dv" readonly>
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-21"><b>Teléfono Fijo:</b> {{selectedPadre.usuario.fono_casa}}</label>
              <div class="col-sm-3">
                <input id="form-control-21" class="form-control" type="text" [(ngModel)]="padre.usuario.fono_casa">
              </div>
              <label class="col-sm-1 col-sm-offset-3 md-control-label" for="form-control-22"><b>Teléfono Móvil:</b> {{selectedPadre.usuario.fono_movil}}</label>
              <div class="col-sm-3">
                <input id="form-control-22" class="form-control" type="text" [(ngModel)]="padre.usuario.fono_movil">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-23"><b>Email:</b> {{selectedPadre.usuario.email}}</label>
              <div class="col-sm-5">
                <input id="form-control-23" class="form-control" type="text" [(ngModel)]="padre.usuario.email">
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-24"><b>Nacionalidad:</b> {{selectedPadre.usuario.nacionalidad}}</label>
              <div class="col-sm-6">
                <select2 id="form-control-24"
                         [data]="selectNacionalidadData"
                         [width]="350"
                         [options]="selectNacionalidadOptions"
                         (valueChanged)="padre.usuario.nacionalidad = $event.value"></select2>
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-25"><b>Estado Civil:</b> {{selectedPadre.usuario.estado_civil}}</label>
              <div class="col-sm-5">
                <select2 id="form-control-25"
                         [data]="selectEstadoCivilData"
                         *ngIf="selectEstadoCivilData.length > 0"
                         [width]="150"
                         [options]="selectEstadoCivilOptions"
                         (valueChanged)="padre.usuario.estado_civil = $event.value"></select2>
              </div>
            </div>
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-26"><b>Titulo:</b> {{selectedPadre.titulo}}</label>
              <div class="col-sm-6">
                <input id="form-control-26" class="form-control" type="text" [(ngModel)]="padre.titulo">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-27"><b>Ocupación:</b> {{selectedPadre.ocupacion}}</label>
              <div class="col-sm-5">
                <input id="form-control-27" class="form-control" type="text" [(ngModel)]="padre.ocupacion">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h3 class="card-title fw-l">Madre</h3>
          </div>
          <div class="media-middle media-right">
            <p class="fw-l">
              Apoderado
              <label class="custom-control custom-control-primary custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="{{madre.apoderado}}" [(ngModel)]="madre.apoderado" (ngModelChange)="onChange(madre,padre)">
                <span class="custom-control-indicator"></span>
              </label>
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="demo-md-form-wrapper">
          <div class="form form-horizontal">

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-28"><b>Nombre:</b> {{selectedMadre.nombre}}</label>
              <div class="col-sm-5">
                <input class="form-control" type="text" id="form-control-28" [(ngModel)]="madre.usuario.nombre">
              </div>
              <label class="col-sm-1 col-sm-offset-5 md-control-label" for="form-control-29"><b>Apellido Paterno:</b> {{selectedMadre.apellido_paterno}} </label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-29" [(ngModel)]="madre.usuario.apellido_paterno">
              </div>
              <label class="col-sm-1 col-sm-offset-8 md-control-label" for="form-control-30"><b>Apellido Materno:</b> {{selectedMadre.apellido_materno}}</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-30" [(ngModel)]="madre.usuario.apellido_materno">
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-31"><b>Sexo:</b> {{selectedMadre.usuario.sexo}}</label>
              <div class="col-sm-2">
                <select class="form-control no-arrows" type="text" id="form-control-31" [(ngModel)]="madre.usuario.sexo">
                  <option value="" selected="selected"></option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>

              <label class="col-sm-1 col-md-offset-2 md-control-label" for="form-control-32"><b>Fecha de Nacimiento:</b> {{selectedMadre.usuario.fecha_nacimiento}}</label>
              <div class="col-sm-5">
                <div class="input-with-icon">
                  <input class="form-control" id="form-control-32" type="text" [(ngModel)]="madre.usuario.fecha_nacimiento" value="16-July-2000" data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-MM-yyyy" data-date-start-view="decade" data-date-end-date="-5y">
                  <span class="icon icon-calendar input-icon"></span>
                </div>
              </div>

              <label class="col-sm-1 col-md-offset-7 md-control-label" for="form-control-33"><b>Rut</b></label>
              <div class="col-sm-3">
                <input class="form-control no-arrows" type="number" id="form-control-33" [(ngModel)]="madre.usuario.rut" readonly>
              </div>
              <div class="col-sm-1">
                <input class="form-control" type="text" id="form-control-34" [(ngModel)]="madre.usuario.dv" readonly>
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-35"><b>Teléfono Fijo:</b> {{selectedMadre.usuario.fono_casa}}</label>
              <div class="col-sm-3">
                <input id="form-control-35" class="form-control" type="text" [(ngModel)]="madre.usuario.fono_casa">
              </div>
              <label class="col-sm-1 col-sm-offset-3 md-control-label" for="form-control-36"><b>Teléfono Móvil:</b> {{selectedMadre.usuario.fono_movil}}</label>
              <div class="col-sm-3">
                <input id="form-control-36" class="form-control" type="text" [(ngModel)]="madre.usuario.fono_movil">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-37"><b>Email:</b> {{selectedMadre.usuario.email}}</label>
              <div class="col-sm-5">
                <input id="form-control-37" class="form-control" type="text" [(ngModel)]="madre.usuario.email">
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-38"><b>Nacionalidad:</b> {{selectedMadre.usuario.nacionalidad}}</label>
              <div class="col-sm-6">
                <select2 id="form-control-38"
                         [data]="selectNacionalidadData"
                         [width]="350"
                         [options]="selectNacionalidadOptions"
                         (valueChanged)="madre.usuario.nacionalidad = $event.value"></select2>
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-39"><b>Estado Civil:</b> {{selectedMadre.usuario.estado_civil}}</label>
              <div class="col-sm-5">
                <select2 id="form-control-39"
                         [data]="selectEstadoCivilData"
                         *ngIf="selectEstadoCivilData.length > 0"
                         [width]="150"
                         [options]="selectEstadoCivilOptions"
                         (valueChanged)="madre.usuario.estado_civil = $event.value"></select2>
              </div>
            </div>
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-40"><b>Titulo:</b> {{selectedMadre.titulo}}</label>
              <div class="col-sm-6">
                <input id="form-control-40" class="form-control" type="text" [(ngModel)]="madre.titulo">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-41"><b>Ocupación:</b> {{selectedMadre.ocupacion}}</label>
              <div class="col-sm-5">
                <input id="form-control-41" class="form-control" type="text" [(ngModel)]="madre.ocupacion">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!padre.apoderado && !madre.apoderado" [@fade]="!padre.apoderado && !madre.apoderado">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <div class="media">
          <div class="media-middle media-body">
            <h3 class="card-title fw-l">Apoderado</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="demo-md-form-wrapper">
          <div class="form form-horizontal">

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-42"><b>Nombre:</b> {{selectedApoderado.nombre}}</label>
              <div class="col-sm-5">
                <input class="form-control" type="text" id="form-control-42" [(ngModel)]="apoderado.usuario.nombre">
              </div>
              <label class="col-sm-1 col-sm-offset-5 md-control-label" for="form-control-43"><b>Apellido Paterno:</b> {{selectedApoderado.apellido_paterno}} </label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-43" [(ngModel)]="apoderado.usuario.apellido_paterno">
              </div>
              <label class="col-sm-1 col-sm-offset-8 md-control-label" for="form-control-44"><b>Apellido Materno:</b> {{selectedApoderado.apellido_materno}}</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-44" [(ngModel)]="apoderado.usuario.apellido_materno">
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-45"><b>Sexo:</b> {{selectedApoderado.usuario.sexo}}</label>
              <div class="col-sm-2">
                <select class="form-control no-arrows" type="text" id="form-control-45" [(ngModel)]="apoderado.usuario.sexo">
                  <option value="" selected="selected"></option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>

              <label class="col-sm-1 col-md-offset-2 md-control-label" for="form-control-46"><b>Fecha de Nacimiento:</b> {{selectedApoderado.usuario.fecha_nacimiento}}</label>
              <div class="col-sm-5">
                <div class="input-with-icon">
                  <input class="form-control" id="form-control-46" type="text" [(ngModel)]="apoderado.usuario.fecha_nacimiento" value="16-July-2000" data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-MM-yyyy" data-date-start-view="decade" data-date-end-date="-5y">
                  <span class="icon icon-calendar input-icon"></span>
                </div>
              </div>

              <label class="col-sm-1 col-md-offset-7 md-control-label" for="form-control-47"><b>Rut</b></label>
              <div class="col-sm-3">
                <input class="form-control no-arrows" type="number" id="form-control-47" [(ngModel)]="apoderado.usuario.rut" readonly>
              </div>
              <div class="col-sm-1">
                <input class="form-control" type="text" id="form-control-48" [(ngModel)]="apoderado.usuario.dv" readonly>
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-49"><b>Teléfono Fijo:</b> {{selectedApoderado.usuario.fono_casa}}</label>
              <div class="col-sm-3">
                <input id="form-control-49" class="form-control" type="text" [(ngModel)]="apoderado.usuario.fono_casa">
              </div>
              <label class="col-sm-1 col-sm-offset-3 md-control-label" for="form-control-50"><b>Teléfono Móvil:</b> {{selectedApoderado.usuario.fono_movil}}</label>
              <div class="col-sm-3">
                <input id="form-control-50" class="form-control" type="text" [(ngModel)]="apoderado.usuario.fono_movil">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-51"><b>Email:</b> {{selectedApoderado.usuario.email}}</label>
              <div class="col-sm-5">
                <input id="form-control-51" class="form-control" type="text" [(ngModel)]="apoderado.usuario.email">
              </div>
            </div>

            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-52"><b>Nacionalidad:</b> {{selectedApoderado.usuario.nacionalidad}}</label>
              <div class="col-sm-6">
                <select2 id="form-control-52"
                         [data]="selectNacionalidadData"
                         [width]="350"
                         [options]="selectNacionalidadOptions"
                         (valueChanged)="apoderado.usuario.nacionalidad = $event.value"></select2>
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-53"><b>Estado Civil:</b> {{selectedApoderado.usuario.estado_civil}}</label>
              <div class="col-sm-5">
                <select2 id="form-control-53"
                         [data]="selectEstadoCivilData"
                         *ngIf="selectEstadoCivilData.length > 0"
                         [width]="150"
                         [options]="selectEstadoCivilOptions"
                         (valueChanged)="apoderado.usuario.estado_civil = $event.value"></select2>
              </div>
            </div>
            <div class="md-form-group md-label-static">
              <label class="col-sm-1 md-control-label" for="form-control-54"><b>Titulo:</b> {{selectedApoderado.titulo}}</label>
              <div class="col-sm-6">
                <input id="form-control-54" class="form-control" type="text" [(ngModel)]="apoderado.titulo">
              </div>
              <label class="col-sm-1 col-sm-offset-6 md-control-label" for="form-control-55"><b>Ocupación:</b> {{selectedApoderado.ocupacion}}</label>
              <div class="col-sm-5">
                <input id="form-control-55" class="form-control" type="text" [(ngModel)]="apoderado.ocupacion">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-4">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
        <div class="col-sm-8">
          <button class="btn btn-primary btn-block" (click)="savePostulacion()">Guardar</button>

          <modal [animation]="true" #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">Postulación Modificada con Éxito.</h4>
            </modal-header>
            <modal-body>
              Presione Ok para continuar.
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
            </modal-footer>
          </modal>

        </div>
      </div>
    </div>
  </div>
</div>
