<div class="title-bar">
  <h1 class="title-bar title">Crear Matricula</h1>
  <p class="title bar description"></p>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-l">
          Seleccionar
        </h3>
      </div>
      <div class="card-body">
        <div class="demo-form-wrapper">
          <div class="form form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-1 col-sm-offset-1" for="select-form-1">Postulante</label>
              <div class="col-sm-5" *ngIf="selectData.length>0">
                <select2 id="select-form-1"
                         [data]="selectData"
                         [width]="310"
                         [options]="selectOptions"
                         (valueChanged)="selectChanged($event)"></select2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="card" *ngIf="postulante" [@fade]="postulante">
      <div class="card-header">
        <h3 class="card-title fw-l">
          Postulante
        </h3>
      </div>
      <div class="card-body">
        <div class="demo-form-wrapper">
          <div class="form form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="form-control-1">Nombre</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" id="form-control-1" [(ngModel)]="postulante.nombre" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-2">Apellido Paterno</label>
              <div class="col-sm-2">
                <input class="form-control" type="text" id="form-control-2" [(ngModel)]="postulante.apellido_paterno" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-3">Apellido Materno</label>
              <div class="col-sm-2">
                <input class="form-control" type="text" id="form-control-3" [(ngModel)]="postulante.apellido_materno" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 col-sm-offset-1 control-label" for="form-control-4">Sexo</label>
              <div class="col-sm-1">
                <input class="form-control no-arrows" type="text" id="form-control-4" [(ngModel)]="postulante.sexo" readonly>
              </div>
              <label class="col-sm-2 control-label" for="form-control-5">Fecha de Nacimiento</label>
              <div class="col-sm-3">
                <div class="input-with-icon">
                  <input class="form-control" id="form-control-5" type="text" [(ngModel)]="postulante.fecha_nacimiento" readonly>
                  <span class="icon icon-calendar input-icon"></span>
                </div>
              </div>
              <label class="col-sm-1 control-label" for="form-control-6">Rut</label>
              <div class="col-sm-2">
                <input class="form-control no-arrows" type="number" id="form-control-6" [(ngModel)]="postulante.rut" readonly>
              </div>
              <div class="col-sm-1">
                <input class="form-control" type="text" id="form-control-7" [(ngModel)]="postulante.dv" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="form-control-8">Nacionalidad</label>
              <div class="col-sm-3">
                <input id="form-control-8" class="form-control" readonly [(ngModel)]="postulante.nacionalidad">
              </div>
              <label class="col-sm-1 control-label" for="form-control-9">Etnia</label>
              <div class="col-sm-2">
                <input id="form-control-9" class="form-control" [(ngModel)]="postulante.etnia" readonly>
              </div>
              <label class="col-sm-2 control-label" for="form-control-10">Pasaporte</label>
              <div class="col-sm-2">
                <input id="form-control-10" class="form-control" type="text" [(ngModel)]="postulante.pasaporte" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-1 col-sm-offset-1 control-label" for="form-control-11">Teléfono Fijo</label>
              <div class="col-sm-2">
                <input id="form-control-11" class="form-control" type="text" [(ngModel)]="postulante.fono_casa" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-12">Teléfono Móvil</label>
              <div class="col-sm-2">
                <input id="form-control-12" class="form-control" type="text" [(ngModel)]="postulante.fono_movil" readonly>
              </div>
              <label class="col-sm-1 control-label" for="form-control-13">Email</label>
              <div class="col-sm-4">
                <input id="form-control-13" class="form-control" type="text" [(ngModel)]="postulante.email" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-1 col-md-offset-1"> Prioritario </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.prioritario" disabled="disabled">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-1"> Vulnerable </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.vulnerable" disabled="disabled">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-1"> Preferente </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.preferente" disabled="disabled">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-1"> PIE </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.pie" disabled="disabled">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>

              <label class="control-label col-md-2"> Intercambio </label>
              <div class="col-md-1">
                <label class="switch switch-info">
                  <input class="switch-input" type="checkbox" [(ngModel)]="postulante.intercambio" disabled="disabled">
                  <span class="switch-track"></span>
                  <span class="switch-thumb"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="form form-horizontal">
      <div class="form-group">
        <div class="col-sm-3">
          <button class="btn btn-default btn-block" (click)="goBack()">Volver</button>
        </div>
        <div class="col-sm-9">
          <button class="btn btn-primary btn-block" [disabled]="!(this.postulante)" (click)="saveMatricula()">Matricular</button>

          <modal [animation]="true" #modal>
            <modal-header [show-close]="true">
              <h4 class="modal-title">Matricula creada con éxito.</h4>
            </modal-header>
            <modal-body>
              Presione Ok para continuar.
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
            </modal-footer>
          </modal>

        </div>
      </div>
    </div>
  </div>
</div>
