
<div class="card">
  <div class="card-header">
    Asistencia Porcentual del Colegio
  </div>
  <app-spinner *ngIf="!renderChart"></app-spinner>
  <div class="card-body" *ngIf="renderChart">
    <div style="display: block;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColors"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
