<div class="title-bar">
  <h2 class="title-bar-title"><span class="icon icon-fw icon-dashboard"></span> Dashboard</h2>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row gutter-xs">
      <div class="col-sm-4" *ngFor="let route of routes">
        <div class="card">
          <div class="card-body" (click)="goToRoute(route.path,route.id)">
            <div class="media">
              <div class="media-middle media-left">
            <span class="icon-with-child">
                <span class="bg-primary sq-64 circle icon" [ngClass]="route.icon"></span>
                <span class="bg-default circle sq-20 icon icon-cog icon-child"></span>
            </span>
              </div>
              <div class="media-middle media-body">
                <h4 class="card-title">
                  {{route.glosa}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
